<div class="w-40 absolute top-1/2 left-1/2 transform 
-translate-x-1/2 -translate-y-1/2 m-2">
    <ul class="w-full text-xl font-semibold text-white">
        <li class="hover:text-organce px-2.5 py-4"><a href="index.html">Trang chủ</a></li>
        <li class="hover:text-organce px-2.5 py-4"><a href="list__product.html">Sản phẩm</a></li>
        <li class="hover:text-organce px-2.5 py-4"><a href="#">Liên hệ</a></li>
        <li class="hover:text-organce px-2.5 py-4"><a href="#">Giới thiệu</a></li>
        <li class="hover:text-organce px-2.5 py-4"><a href="#">Liên hệ</a></li>
    </ul>
</div>
<span onclick="category()" class="font-bold text-5xl absolute top-32 right-44 
text-white cursor-pointer h-0">
    &times;
</span>