<div class="xl:w-4/5 w-full flex flex-col sm:flex-row mx-auto p-4">
    <div class="w-full sm:w-1.2 mr-10 relative news__left cursor-pointer">
        <div class="w-full absolute top-0 left-0 bg-black
        bg-opacity-50 h-full news__view">
            <div class="w-full relative h-full">
                <div class="w-full absolute top-1/2 left-1/2 transform -translate-y-1/2 
                -translate-x-1/2 flex justify-center flex-wrap">
                    <p class="w-full mb-4 text-white text-xl font-semibold hover:text-organce 
                    cursor-pointer text-center">
                        Mở hộp apple watch series 4
                    </p>
                    <i class='bx bx-play-circle text-6xl cursor-pointer text-white '></i>
                </div>
            </div>
        </div>
        <i class='bx bx-play-circle absolute text-6xl cursor-pointer text-white absolute top-1/2  
        left-1/2 transform -translate-y-1/2 -translate-x-1/2 news_bntPlay'></i>
        <img src="./images/thumnail.jpg" class="w-full max-h-148 h-full object-cover" alt="" srcset="">
    </div>
    <div class="w-full sm:w-1.2  px-2">
        <div class="w-full mt-8 mb-10 flex">
            <div class="w-1/4 news__left relative cursor-pointer">
                <div class="w-full absolute top-0 left-0 bg-black
                bg-opacity-50 h-full news__view">
                    <div class="w-full relative h-full">
                        <div class="w-full absolute top-1/2 left-1/2 transform -translate-y-1/2 
                        -translate-x-1/2 flex justify-center flex-wrap">

                        </div>
                    </div>
                </div>
                <i class='bx bx-play-circle absolute text-4xl cursor-pointer text-white absolute top-1/2  
                left-1/2 transform -translate-y-1/2 -translate-x-1/2'></i>
                <img src="./images/thumnail_1.jpg" class="w-full object-cover" alt="" sizes="" srcset="">
            </div>
            <div class="w-3/4 flex px-4 relative">
                <div class="w-full absolute top-1/2 transform -translate-y-1/2">
                    <p class="mb-2 text-xl font-semibold cursor-pointer hover:text-organce">
                        Chi tiết smartwatch mới nhất của samsung
                    </p>
                    <p class="text-gray-500">
                        0 Bình luận | 29/05/2021
                    </p>
                </div>
            </div>
        </div>
        <div class="w-full mt-3 mb-10 flex">
            <div class="w-1/4 news__left relative cursor-pointer">
                <div class="w-full absolute top-0 left-0 bg-black
                bg-opacity-50 h-full news__view">
                    <div class="w-full relative h-full">
                        <div class="w-full absolute top-1/2 left-1/2 transform -translate-y-1/2 
                        -translate-x-1/2 flex justify-center flex-wrap">

                        </div>
                    </div>
                </div>
                <i class='bx bx-play-circle absolute text-4xl cursor-pointer text-white absolute top-1/2  
                left-1/2 transform -translate-y-1/2 -translate-x-1/2'></i>
                <img src="./images/thumnail_2.jpg" class="w-full object-cover" alt="" sizes="" srcset="">
            </div>
            <div class="w-3/4 flex px-4 relative">
                <div class="w-full absolute top-1/2 transform -translate-y-1/2">
                    <p class="mb-2 text-xl font-semibold cursor-pointer hover:text-organce">
                        Chi tiết smartwatch mới nhất của samsung
                    </p>
                    <p class="text-gray-500">
                        0 Bình luận | 29/05/2021
                    </p>
                </div>
            </div>
        </div>
        <div class="w-full mt-3 mb-10 flex">
            <div class="w-1/4 news__left relative cursor-pointer">
                <div class="w-full absolute top-0 left-0 bg-black
                bg-opacity-50 h-full news__view">
                    <div class="w-full relative h-full">
                        <div class="w-full absolute top-1/2 left-1/2 transform -translate-y-1/2 
                        -translate-x-1/2 flex justify-center flex-wrap">

                        </div>
                    </div>
                </div>
                <i class='bx bx-play-circle absolute text-4xl cursor-pointer text-white absolute top-1/2  
                left-1/2 transform -translate-y-1/2 -translate-x-1/2'></i>
                <img src="./images/thumnail_1.jpg" class="w-full object-cover" alt="" sizes="" srcset="">
            </div>
            <div class="w-3/4 flex px-4 relative">
                <div class="w-full absolute top-1/2 transform -translate-y-1/2">
                    <p class="mb-2 text-xl font-semibold cursor-pointer hover:text-organce">
                        Chi tiết smartwatch mới nhất của samsung
                    </p>
                    <p class="text-gray-500">
                        0 Bình luận | 29/05/2021
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>