<div class="xl:w-4/5 w-full flex flex-col sm:flex-row mx-auto my-3 p-4">
    <div class="w-full md:w-5/12 pb-4 md:pb-0">
        <p class="text-4xl mb-2 text-gray-600">Email</p>
        <p class="text-gray-600 text-sm">
            Gửi email để nhận thông tin khuyến mãi mới nhất
        </p>
    </div>
    <div class="w-full md:w-7/12 relative">
        <div class="w-full flex md:absolute md:top-1/2 md:transform md:-translate-y-1/2">
            <input type="text" class="w-4/5 border-2 border-solid border-gray-200 
            p-3" placeholder="Nhập email..." value="">
            <button type="button" class="w-1/5 border-2 border-solid border-gray-200 
            p-3 font-semibold">Đăng kí</button>
        </div>
    </div>
</div>