<div class="xl:w-4/5 w-full mx-auto p-4 flex-col md:flex md:flex-row">
    <div class="w-full md:w-1/4 my-2 justify-center flex  md:block">
        <span class="flex items-center text-xm font-semibold">
            <i class='bx bxs-check-shield text-5xl text-green-500 mr-3'></i>
            Sản phẩm chính hãng
        </span>
    </div>
    <div class="w-full md:w-1/4 my-2 hidden md:block">
        <span class="flex items-center text-xm font-semibold">
            <i class='bx bx-target-lock text-5xl text-gray-500 mr-3'></i>
            Giao hàng tận nơi
        </span>
    </div>
    <div class="w-full md:w-1/4 my-2  hidden md:block">
        <span class="flex items-center text-xm font-semibold">
            <i class='bx bxs-gift text-5xl text-red-600 mr-3'></i>
            Thanh toán tại nhà
        </span>
    </div>
    <div class="w-full md:w-1/4 my-2  hidden md:block">
        <span class="flex items-center text-xm font-semibold">
            <i class='bx bxs-meteor text-5xl text-yellow-500 mr-3'></i>
            Bảo hành chính hãng
        </span>
    </div>
</div>