<div class="xl:w-4/5 w-full  mx-auto p-4">
    <p class="p-8 font-bold text-5xl text-center 
    hover:text-organce cursor-pointer">
        GIẢM GIÁ 30%
    </p>
    <div class="w-full flex flex-row">
        <div class="w-full sm:w-1/2 m-1 md:w-1/2 xl:w-1/3">
            <div class="w-full py-1 mb-2 flex shadow-xl">
                <div class="w-1/3">
                    <img src="./images/product_1.png" class="w-32 h-32 p-1 object-cover" alt="">
                </div>
                <div class="w-2/3 px-4">
                    <p class="mb-1 hover:text-organce cursor-pointer font-semibold">
                        Garmin Vivoactive 2S
                    </p>
                    <p class="mb-2 text-organce cursor-pointer text-xm">7.700.000 <u>đ</u>&nbsp;
                        <strike class="text-gray-500 ml-1">7.900.000 <u>đ</u></strike>
                    </p>
                </div>
            </div>
            <div class="w-full py-1 mb-2 flex shadow-xl">
                <div class="w-1/3">
                    <img src="./images/product_3.png" class="w-32 h-32 p-1 object-cover" alt="">
                </div>
                <div class="w-2/3 px-4">
                    <p class="mb-1 hover:text-organce cursor-pointer font-semibold">
                        Garmin Vivoactive 2S
                    </p>
                    <p class="mb-2 text-organce cursor-pointer text-xm">7.700.000 <u>đ</u>&nbsp;
                        <strike class="text-gray-500 ml-1">7.900.000 <u>đ</u></strike>
                    </p>
                </div>
            </div>
        </div>
        <div class="w-full sm:w-1/2 m-1 md:w-1/2 xl:w-1/3 hidden md:block">
            <div class="w-full py-1 mb-2 flex shadow-xl">
                <div class="w-1/3">
                    <img src="./images/product_1.png" class="w-32 h-32 p-1 object-cover" alt="">
                </div>
                <div class="w-2/3 px-4">
                    <p class="mb-1 hover:text-organce cursor-pointer font-semibold">
                        Garmin Vivoactive 2S
                    </p>
                    <p class="mb-2 text-organce cursor-pointer text-xm">7.700.000 <u>đ</u>&nbsp;
                        <strike class="text-gray-500 ml-1">7.900.000 <u>đ</u></strike>
                    </p>
                </div>
            </div>
            <div class="w-full py-1 mb-2 flex shadow-xl">
                <div class="w-1/3">
                    <img src="./images/product_3.png" class="w-32 h-32 p-1 object-cover" alt="">
                </div>
                <div class="w-2/3 px-4">
                    <p class="mb-1 hover:text-organce cursor-pointer font-semibold">
                        Garmin Vivoactive 2S
                    </p>
                    <p class="mb-2 text-organce cursor-pointer text-xm">7.700.000 <u>đ</u>&nbsp;
                        <strike class="text-gray-500 ml-1">7.900.000 <u>đ</u></strike>
                    </p>
                </div>
            </div>
        </div>
        <div class="w-full sm:w-1/2 m-1 xl:w-1/3 hidden xl:block">
            <div class="w-full py-1 mb-2 flex shadow-xl">
                <div class="w-1/3">
                    <img src="./images/product_1.png" class="w-32 h-32 p-1 object-cover" alt="">
                </div>
                <div class="w-2/3 px-4">
                    <p class="mb-1 hover:text-organce cursor-pointer font-semibold">
                        Garmin Vivoactive 2S
                    </p>
                    <p class="mb-2 text-organce cursor-pointer text-xm">7.700.000 <u>đ</u>&nbsp;
                        <strike class="text-gray-500 ml-1">7.900.000 <u>đ</u></strike>
                    </p>
                </div>
            </div>
            <div class="w-full py-1 mb-2 flex shadow-xl">
                <div class="w-1/3">
                    <img src="./images/product_3.png" class="w-32 h-32 p-1 object-cover" alt="">
                </div>
                <div class="w-2/3 px-4">
                    <p class="mb-1 hover:text-organce cursor-pointer font-semibold">
                        Garmin Vivoactive 2S
                    </p>
                    <p class="mb-2 text-organce cursor-pointer text-xm">7.700.000 <u>đ</u>&nbsp;
                        <strike class="text-gray-500 ml-1">7.900.000 <u>đ</u></strike>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>