<div class="xl:w-3/4 md:w-11/12 w-full mx-auto md:flex flex-col md:flex-row">
    <div class="w-full md:w-1/2">
        <img src="./images/product_1.png" class="w-10/12 mx-auto" alt="">
    </div>
    <div class="w-full md:w-1/2 px-4">
        <p class="font-bold text-4xl pb-5 border-b-2 border-solid 
        border-gray-300 hover:text-organce cursor-pointer pt-4 md:mt-0">TOP BÁN CHẠY</p>
        <p class="text-xl pt-5">Apple Watch Series 3</p>
        <p class="pt-5">|&nbsp;&nbsp;
            <span class="text-gray-500 text-xm">Thương Hiệu : </span>
            &nbsp;Apple&nbsp;&nbsp;|&nbsp;&nbsp;
            <span class="text-gray-500 text-xm">Bảo hành : </span>
            12 tháng
        </p>
        <p class="py-7 text-organce text-4xl">
            9.700.000 <u>đ</u>
        </p>
        <p class="py-1">Kích thước màn hình: 1.65"</p>
        <p class="py-1">Độ phân giải màn hình: 390 x 312pixels</p>
        <p class="py-1">Luôn hiển thị: Không</p>
        <p class="py-1">Mật độ điểm ảnh : 303pixels</p>
        <p class="py-1">Multi-touch: Có</p>
        <p class="py-1">Loại màn hình: AMOLED</p>
    </div>
</div>
<div class="w-7/12 mx-auto p-4 flex">
    <div class="flex justify-center">
        <span class="flex items-center cursor-pointer">
            <i class='bx bxs-left-arrow-alt text-4xl text-gray-500'></i>
        </span>
    </div>
    <ul class="w-11/12 flex ">
        <li class="w-1/4 p-2">
            <img src="./images/product_1.png" class="w-full p-2 cursor-pointer" alt="" srcset="">
        </li>
        <li class="w-1/4 p-2">
            <img src="./images/product_child_1.png" class="w-full p-2 cursor-pointer" alt="" srcset="">
        </li>
        <li class="w-1/4 p-2">
            <img src="./images/product_1.png" class="w-full p-2 cursor-pointer" alt="" srcset="">
        </li>
        <li class="w-1/4 p-2">
            <img src="./images/product_child_1.png" class="w-full p-2 cursor-pointer" alt="" srcset="">
        </li>
    </ul>
    <div class="flex justify-center">
        <span class="flex items-center cursor-pointer">
            <i class='bx bxs-right-arrow-alt text-4xl text-gray-500'></i>
        </span>
    </div>
</div>